body {
  font-family: Arial, sans-serif;
  color: #55524a;
  background-color: 	#f5f1ed;
}
.header{
  display: flex;
  justify-content: space-between;
align-items: center;
  margin-right: 180px;
  margin-left: 180px;
}
nav {
  display: flex;
 
}

ul li{
list-style-type: none;

}
.nav-link{
  text-decoration: none;

color: #55524a;
}
.nav-link:hover{
  color:#78a3ab;
}
.hero-section{
  margin-top: 100px;
  display: flex;
column-gap: 70px;

}
.hero{ 
display: flex;
flex-direction: column;

margin-left:180px;
}
.hero h1{
  color:  #55524a;;
}
.hero h1, span{
  font-size:70px ;
  font-weight: 400;
}
.hero span{
  color:#BBAB8C;
}
.hero p{
  font-size: 25px;
  color: #55524a;
}
.hero-image{
width: 300px;
border-radius: 160px;
background-size: cover;

}

.items-section{
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-left: 180px;
  margin-top: 50px;
}
.item{
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #B3C8CF;
  width: 650px;
  border-radius: 30px;
  height: 750px;
  margin-top: 100px;
  margin-bottom: 200px;
  padding:20px;
}

form{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
form input{
  width: 380px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  margin-bottom: 5px;
}
form textarea{
  height: 130px;
  border-radius: 7px;
}
.form h3{
  text-align:center;
  width: 350px;
  line-height: 30px;
}
.form h3:hover{
  color:#78a3ab;
}
#sub-btn{
  width: 200px;
  padding: 17px;
  border-radius: 50px;
  font-size: larger;
  border: none;
  background-color: #819ca5;
  margin-top: 50px;
margin-left: 210px;
color: #ffffff;
}
.footer{
  display: flex;
 justify-content: center;
 width: 100%;
 height: 100px;
 background-color: rgb(116, 116, 116);
}
